<div class="design-answer-box">
    <h3>null和undefined</h3>
    <div class="answer-brief nc-post-content">
        <div> null是一个表示"无"的对象，转为数值时为0 </div>
        <div> undefined是一个表示"无"的原始值，转为数值时为NaN </div>
        <div>
            <br>
        </div>
        <div> 当声明的变量还未被初始化时，变量的默认值为undefined </div>
        <div> null用来表示尚未存在的对象，常用来表示函数企图返回一个不存在的对象 </div>
        <div>
            <br>
        </div>
        <div> undefined表示 “缺少值”，就是此处应该有一个值，但是还没有定义。典型用法是： </div>
        <div> 1. 变量被声明了，但没有赋值时，就等于 undefined </div>
        <div> 2. 调用函数时，应该提供的参数没有提供，该参数等于 undefined </div>
        <div> 3. 对象没有赋值的属性，该属性的值为 undefined </div>
        <div> 4. 函数没有返回值时，默认返回 undefined </div>
        <div>
            <br>
        </div>
        <div> null表示“没有对象”，即该处不应该有值。典型用法是： </div>
        <div> 1. 作为函数的参数，表示该函数的参数不是对象 </div>
        <div> 2. 作为对象原型链的终点 </div>
    </div>
    <ul>
        <li>①null是一个空的对象，而undefined是一个全局变量的特殊属性,同时，null是JavaScript的保留关键字，而undefined却不是。 </li>
        <li>②进行数值运算时，null返回值是0，而undefined是NaN。 </li>
        <li>③null==undefined，但是null！===undefined。</li>
        <li>null和undefined都是没有实际的值的，所以null==undefined，而本质上，null是空的对象，undefined是未定义的一个全局属性，所以null！===undefined。</li>
    </ul>
</div>