<div class="design-answer-box">
    <h3>==和===</h3>
    <ul>
        <li>
            <h4>==</h4>
            <ul>
                <li>如果两个值类型相同，再进行三个等号(===)的比较</li>
                <li>
                    <p>如果两个值类型不同，也有可能相等，需根据以下规则进行类型转换在比较</p>
                    <ul>
                        <li>如果一个是null，一个是undefined，那么相等</li>
                        <li>如果一个是字符串，一个是数值，把字符串转换成数值之后再进行比较</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h4>===</h4>
            <ul>
                <li>如果类型不同，就一定不相等</li>
                <li>如果两个都是数值，并且是同一个值，那么相等</li>
                <li>如果其中至少一个是NaN，那么不相等。（判断一个值是否是NaN，只能使用isNaN( ) 来判断）</li>
                <li>如果两个都是字符串，每个位置的字符都一样，那么相等，否则不相等</li>
                <li>如果两个值都是true，或是false，那么相等</li>
                <li>如果两个值都引用同一个对象或是函数，那么相等，否则不相等</li>
                <li>如果两个值都是null，或是undefined，那么相等</li>
            </ul>
        </li>
    </ul>
</div>