<div class="design-answer-box">
    <h3>position的absolute与fixed共同点与不同点</h3>
    <div class="answer-brief nc-post-content">
        <p align="justify" style="text-align: justify;"> <span>static
                &nbsp;relative定位不脱离文档流，relative相对定位在某父元素下指定left right top等是嵌入到页面中</span> </p>
        <p align="justify" style="text-align: justify;"> <span>Absolute绝对定位，脱离文档流，，没有父元素，上下左右设置是针对于浏览器窗口，不占据位置，会随着窗口大小与页面一起改变</span>
        </p>
        <p align="justify" style="text-align: justify;"> <span>Fixed固定定位，只针对浏览器窗口定位，上下左右，不会随着窗口大小改变，固定不变，例如固定位置的小广告。</span>
        </p>
        <p align="justify" style="margin-left: 15.75pt;text-align: justify;"> <span>&nbsp;</span> </p>
    </div>
</div>