<div class="design-answer-box">
    <h3>posotion</h3>
    <ul>
        <li>
            <h4>position的absolute与fixed共同点与不同点</h4>
            <div class="answer-brief nc-post-content">
                <p align="justify" style="text-align: justify;"> <span>static
                        &nbsp;relative定位不脱离文档流，relative相对定位在某父元素下指定left right top等是嵌入到页面中</span> </p>
                <p align="justify" style="text-align: justify;">
                    <span>Absolute绝对定位，脱离文档流，，没有父元素，上下左右设置是针对于浏览器窗口，不占据位置，会随着窗口大小与页面一起改变</span>
                </p>
                <p align="justify" style="text-align: justify;">
                    <span>Fixed固定定位，只针对浏览器窗口定位，上下左右，不会随着窗口大小改变，固定不变，例如固定位置的小广告。</span>
                </p>
                <p align="justify" style="margin-left: 15.75pt;text-align: justify;"> <span>&nbsp;</span> </p>
            </div>
        </li>
        <li>
            <h4>描述</h4>
            <ul>
                <li>静态定位是默认行为</li>
                <li>相对定位是我们将要看的第一个位置类型。 它与静态定位非常相似，占据在正常的文档流中，除了你仍然可以修改它的最终位置，包括让它与页面上的其他元素重叠</li>
                <li>
                    <p>绝对定位的元素不再存在于正常文档布局流中</p>
                    可以创建不干扰页面上其他元素的位置的隔离的UI功能 。例如，弹出信息框和控制菜单；翻转面板；可以在页面上的任何地方拖放的UI功能……
                </li>
                <li>
                    <p>固定定位：绝对定位固定元素是相对于 html 元素或其最近的定位祖先，而固定定位固定元素则是相对于浏览器视口本身</p>
                    可以创建固定的有用的UI项目，如持久导航菜单
                </li>
            </ul>
        </li>
    </ul>
</div>