<nz-card class="m-t-20" nzTitle="依赖注入（Dependency injection）模式">
	一种编程模式，可以让类从外部源中获得它的依赖，而不必亲自创建它们
	<h5>实例：</h5>
	<h6>一般解决方法</h6>
	<ul>
		<li>后端要的code前端需要展示名称name同时这两个都是一一对应但是是可变动的</li>
		<li>一般的都在对应的controller中声明一个数组进行取值但是如果是多个controller则会出现问题</li>
	</ul>
	<h6>使用依赖注入的方法</h6>
	<ul>
		<li>此时将对应数据以常量的形式独立出来</li>
		<li>分别在相应的controller中引用并循环得出code简单数组</li>
		<li>然后在filter中是code名称转换为相应的name</li>
		<li>此时：使用数据的controller和转换code的filter对与数据都不关心</li>
		<li>直接改变常量数据则会使controller和filter做出相应的变化</li>
	</ul>
</nz-card>
<nz-caed class="m-t-20" nzTitle="Angular 依赖注入">
	<p class="f-c-999">依然是使用模块化进行注入器的树形管理</p>
	<h6>@NgModule && @Component</h6>
	<ul>
		<li>注入器的生命周期和所注入的组件以及模块是同步生命周期</li>
		<li>使用方法就类似于js原型继承的原理(优先级)向父层寻找注入的服务以及方法</li>
	</ul>
	<h6>@Injectable()</h6>
	<ul>
		<li>@Injectable() 装饰器表示可能需要往这个服务类中注入其它依赖</li>
		<li>写 @Injectable() 时必须带括号，不能只写 @Injectable</li>
		<li>Angular 只能在带有某种装饰器的类上查找参数信息</li>
		<li>
			<p>服务相互依赖同时需要在相应的组件或者模块中集中管理(无法通过服务的相互依赖来进行自身注入)</p>
			<p class="f-c-999">也就是服务相对于组件或者模块都是单一独立的而服务内部自己的逻辑自理</p>
		</li>
	</ul>
	<h6>装饰器的由来</h6>
	<ul>
		<li>当把 TypeScript 转译成 JavaScript 时，通常会丢弃参数的类型信息</li>
		<li>该类带有装饰器并且当 tsconfig.json 配置文件中的 emitDecoratorMetadata 编译选项为 true 时</li>
		<li>就会保留这些信息</li>
		<li>CLI 生成的 tsconfig.json 中已经有 emitDecoratorMetadata: true 选项了</li>
		<li>需要把 @Injectable() 加到服务类上</li>
	</ul>
	<h6>token的概念(provide 对象字面量)</h6>
	<ul>
		<li>
			<p>传统意义上的简写</p>
			<p class="f-c-999">providers: [Logger]</p>
		</li>
		<li>
			<p>传统意义上的不简写</p>
			<p class="f-c-999">[&#123; provide: Logger, useClass: Logger }]</p>
		</li>
		<li>provide 属性保存的是令牌 (token)，它作为键值 (key) 使用，用于定位依赖值和注册提供商</li>
		<li>
			<p>请求一个不同的类来提供服务(请求 Logger 时，返回 BetterLogger)</p>
			<p class="f-c-999">[&#123; provide: Logger, useClass: BetterLogger }]</p>
		</li>
	</ul>
	<h6>别名类的缺点(资源浪费)</h6>
	<p class="f-c-999">通过 useClass 来使用服务的别名则会导致服务不为单例的也就是会实例化两个原本的服务以及新的服务名称的服务</p>
	<h6>别名值的重命名引用</h6>
	<p class="f-c-999">通过 useValue 选项来注册</p>
	<p>[&#123; provide: Logger, useValue: silentLogger }]</p>
	<h6>工厂提供商</h6>
	<p class="f-c-999">简而言之就是服务之间的逻辑性在第三方进行逻辑重组然后在相应的模块或者组件中进行使用而不改变之前的服务逻辑</p>
	<pre>
工厂方法
let heroServiceFactory = (logger: Logger, userService: UserService) => &#123;
	return new HeroService(logger, userService.user.isAuthorized);
};
工厂提供商
export let heroServiceProvider =
{
	provide: HeroService,	//根据deps中的服务集合方法进行
    useFactory: heroServiceFactory,		//调用工厂方法
    deps: [Logger, UserService]		//优先调用服务中的方法对provide中的方法进行更改和初始化
}
	</pre>
	<ul>
		<li>
			<p>useFactory 字段声明这个方法是一个工厂方法</p>
			<p class="f-c-999">方法的实现是useFactory后面的方法(heroServiceFactory)</p>
		</li>
		<li>
			<p>deps 属性是提供商令牌数组</p>
			<p class="f-c-999">Logger 和 UserService 类作为它们自身类提供商的令牌</p>
			<p class="f-c-999">注入器解析这些令牌，把相应的服务注入到工厂函数中相应的参数中去</p>
		</li>
	</ul>
	<h6>工厂提供商的复用</h6>
	<p class="f-c-999">在一个导出的变量中捕获了这个工厂提供商：heroServiceProvider</p>
	<h6>依赖注入令牌</h6>
	<ul>
		<li>当注入器中含有@Injectable()时代表的是angular服务什么的</li>
		<li>因此会加入当前模块|组件的注入器中</li>
		<li>注意在加入注入器中会像angular1中的模板一样进行key,value的映射</li>
	</ul>
	<h5>非类依赖</h5>
	<p class="f-c-999">注意无法使用TypeScript来定义非类的接口（因为不支持）</p>
	<h6>解决方法1（InjectionToken 值）</h6>
	<p class="f-c-999">为非类依赖定义和使用InjectionToken作为提供商令牌</p>
	<pre>
使用依赖注入加入InjectionToken
import &#123; InjectionToken } from '@angular/core';
实例化常量值
export const APP_CONFIG = new InjectionToken<AppConfig>('app.config');
	</pre>
</nz-caed>