<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 34px;">
            <li nz-menu-item *ngFor="let item of routerLinkArr; let i = index" class="nav-item dropdown" [ngClass]="{'ant-menu-item-selected': acxtiveRouterName.indexOf(item.routerLink) > 0}">
                <a class="pad-l-05em pad-r-05em"
                    [routerLink]="[item.routerLink]">
                    {{item.routerName}}
                </a>
            </li>
        </ul>
    </nz-header>
    <nz-layout [@routeAnmiation]="routerStateCode">
        <router-outlet></router-outlet>
    </nz-layout>
</nz-layout>