<div class="form-group row">
    <label class="col-md-2 control-label text-right">{{'CONFIG.WIDGET.COLUMN'|translate}}</label>
    <div class="col-md-10">
        <div class="border pt-2 px-2">
            <button type="button" *ngFor="let o of columnObjs" class="btn btn-default btn-sm mr-2 mb-2" (click)="addColumn(o.column)">
                {{o.alias?o.column+'('+o.alias+')':o.column}}
            </button>
        </div>
    </div>
</div>

<div class="form-group row">
    <label class="col-md-2 control-label text-right">{{'CONFIG.WIDGET.FILTER'|translate}}</label>
    <div class="col-md-10">
        <div class="border pt-2 px-2">
            <div *ngFor="let o of data.filters" class="btn-group mr-2 mb-2">
                <button type="button" class="btn btn-default btn-sm" style="cursor: move;">
                    {{o.col}}
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="editFilter(o)">
                    <span class="fa fa-edit"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="data.filters.splice($index, 1)">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputGroup" class="col-md-2 control-label text-right">{{'CONFIG.WIDGET.ALIAS'|translate}}</label>
    <div class="col-md-10">
        <input id="inputGroup" name="group" class="form-control" [(ngModel)]="data.group">
    </div>
</div>