<div class="modal-body">
    <div class="row">
        <div class="col-md-12" *ngFor="let alert of alerts">
            <div uib-alert [ngClass]="'alert-' + (alert.type || 'warning')"
                    close="alerts.splice($index, 1)">{{alert.msg}}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-4">
            <select class="form-control" [(ngModel)]="f_type">
                <option *ngFor="let t of type" [ngValue]="t">{{t}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <input type="number" class="form-control" [(ngModel)]="f_values[0]">
        </div>
        <div class="col-md-4" ng-show="f_type.length > 1">
            <input type="number" class="form-control" [(ngModel)]="f_values[1]">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Top</span>
                <input type="number" class="form-control" [(ngModel)]="f_top">
            </div>
        </div>
    </div>
</div>