<h3 class="m-t-20 text-center">常用装饰器整理</h3>

<nz-card nzTitle="@Component" class="m-t-20">
	<p class="f-c-999">标记为Angular组件并收集组件配置元数据</p>

	<h6>概述</h6>
	<ul>
		<li>
			<p>标记为angular组件</p>
			<p class="f-c-999">也就是可以获取angular组件的权力（DI）</p>
		</li>
		<li>
			<p>angular组件是指令的一个子集</p>
			<p class="f-c-999">组件总是有一个模板，并且每个模板中的一个元素只能实例化一个组件</p>
			<p class="f-c-999">组件必须属于NgModule才能被其他组件或应用程序使用</p>
			<p class="f-c-999">组建必须在所属的NgModule中声明（declarations）</p>
		</li>
		<li>
			除了通过组件装饰器指定的元数据配置外，组件还可以通过实施各种生命周期挂钩来控制其运行时行为
		</li>
	</ul>

	<h6>可配置的元数据概述</h6>
	<nz-collapse>
		<nz-collapse-panel
			*ngFor="let panel of componentSummary"
			[nzHeader]="panel.name"
			[nzActive]="panel.active">
			<div [innerHTML]="panel.content"></div>
			<nz-collapse *ngIf="panel.child&&panel.child.length">
				<nz-collapse-panel
					*ngFor="let cpanel of panel.child"
					[nzHeader]="cpanel.name"
					[nzActive]="cpanel.active">
					<div [innerHTML]="cpanel.content"></div>
				</nz-collapse-panel>
			</nz-collapse>
		</nz-collapse-panel>
	</nz-collapse>
	<ul>
		<li>
			<p>animations(用过)</p>
			
			
			<ul>
				<li>
					<h6>trigger()</h6>
					
				</li>
				<li>
					<h6>state()</h6>

				</li>
				<li>
					<h6>transition()</h6>
					
				</li>
			</ul>
		</li>
		<li>
			<p>changeDetection</p>
			<p class="f-c-999">更改此组件使用的检测策略</p>
			<h6>参数格式:ChangeDetectionStrategy</h6>
			<pre>
概述
enum ChangeDetectionStrategy &#123;
	OnPush: 0
	Default: 1
}
			</pre>
			<ul>
				<li>OnPush</li>
				<p class="f-c-999">OnPush意味着变化检测器的模式将初始设置为CheckOnce(似乎是仅改变一次)</p>
			</ul>
			<ul >
				<li>Default</li>
				<p class="f-c-999">Default意味着更改检测器的模式将初始设置为CheckAlways(动态监测机制)</p>	
			</ul>
		</li>
		<li>
			<p>encapsulation</p>
			<p class="f-c-999">组件使用的风格封装策略</p>
		</li>
		<li>
			<p>entryComponents</p>
			<p class="f-c-999">动态插入到组件视图中的组件列表</p>
		</li>
		<li>
			<p>exportAs</p>
			<p class="f-c-999">在模板中将组件实例导出的名称</p>
		</li>
		<li>
			<p>host</p>
			<p class="f-c-999">将类属性映射到组件绑定事件，属性和属性的元素</p>
		</li>
		<li>
			<p>inputs</p>
			<p class="f-c-999">将类属性名称列表数据绑定为组件输入</p>
		</li>
		<li>
			<p>interpolation</p>
			<p class="f-c-999">用于组件模板的自定义插值标记</p>
		</li>
		<li>
			<p>moduleId</p>
			<p class="f-c-999">定义组件的文件的ES / CommonJS模块ID</p>
			<h6>具体描述:</h6>
			<p class="f-c-999">
				包含组件的模块的模块ID
				需要能够解析模板和样式的相关URL
				在CommonJS中，这可以始终设置为module.id，类似地，SystemJS在每个模块中公开__moduleName变量
			</p>
			<pre>
@Directive(&#123;
	selector: 'someDir',
	moduleId: module.id
})
class SomeDir &#123;
}
			</pre>
		</li>
		<li>
			<p>outputs</p>
			<p class="f-c-999">公开订阅的输出事件的类属性名称列表</p>
		</li>
		<li>
			<p>providers(用过)</p>
			<p class="f-c-999">组件及其子组件可用的提供程序列表</p>
		</li>
		<li>
			<p>queries</p>
			<p class="f-c-999">配置可注入组件的查询</p>	
		</li>
		<li>
			<p>selector(用过)</p>
			<p class="f-c-999">css选择器，用于在模板中标识此组件</p>
		</li>
		<li>
			<p>styleUrls(用过)</p>
			<p class="f-c-999">要应用于此组件视图的样式表的URL列表</p>
		</li>
		<li>
			<p>styles</p>
			<p class="f-c-999">内联定义的样式应用于此组件的视图</p>
		</li>
		<li>
			<p>template</p>
			<p class="f-c-999">内联定义的视图模板</p>
			<h6>详细描述:</h6>
			<p class="f-c-999">
				每个组件只能定义一个templateUrl或template
			</p>
		</li>
		<li>
			<p>templateUrl</p>
			<p class="f-c-999">url到包含视图模板的外部文件</p>
			<h6>详细描述:</h6>
			<p class="f-c-999">
				每个组件只能定义一个templateUrl或template
			</p>
		</li>
		<li>
			<p>viewProviders</p>
			<p class="f-c-999">组件及其视图子项可用的提供者列表</p>
			<h6>一个可以注入类的栗子</h6>
			<pre>
class Greeter &#123;
	greet(name:string) &#123;
		return 'Hello ' + name + '!';
	}
}

@Directive(&#123;
	selector: 'needs-greeter'
})
class NeedsGreeter &#123;
	greeter:Greeter;

	constructor(greeter:Greeter) &#123;
		this.greeter = greeter;
	}
}

@Component(&#123;
	selector: 'greet',
	viewProviders: [
		Greeter
	],
	template: `&#60;needs-greeter>&#60;/needs-greeter>`
})
class HelloWorld &#123;
}
			</pre>
			<h6>参数格式:Provider[]</h6>
			<p class="f-c-999">type Provider = TypeProvider | ValueProvider | ClassProvider | ExistingProvider | FactoryProvider | any[];</p>
			<ul class="f-c-999">
				<li>
					<p>TypeProvider</p>
					<p class="f-c-999">使用`Type'作为标记时，将Injector配置为返回Type的一个实例</p>
					<pre>
接口:
interface TypeProvider extends Type &#123;
	继承自核心/类型
	new (...args: any[]): T
}
使用:
@Injectable()
class MyService &#123;}

const provider: TypeProvider = MyService;

实栗:
@Injectable()
class Greeting &#123;
	salutation = 'Hello';
}

const injector = ReflectiveInjector.resolveAndCreate([
	Greeting,
])

export(injector.get(Greeting).salutation).toBe('Hello');
					</pre>
				</li>
				<li>
					<p>ValueProvider</p>
					<p class="f-c-999">配置Inject以返回token的值</p>
					<pre>
接口:
interface valueProvider exetends ValueSansProvider &#123;
	provide: any,
	multi?: boolean
}

provide: 
一个注射令牌(通常是Type或InjectionToken的实例)

nulti:
如果为true，那么注入器将返回一个实例数组
允许跨多个文件传播的多个提供程序将配置信息提供给一个通用token很有用
const locale = new InjectionToken < string[] > ('locale');

const injector = Injector.create([
	&#123;provide: locale, mluti: true, useValue: 'en'},
	&#123;provide: locale, mluti: true, useValue: 'sk'},
])

const locales: string[] = injector.get(locale);

export(locales).toEqual(['en', 'sk']);

使用:
const provider: ValueProvider = &#123; provide: 'someToken', useValue: 'someValue' }

DI:
const injector = Injector.create([&#123;provide: String, useValue: 'Hello'}]);

expect(injector.get(String)).toEqual('Hello');
					</pre>
				</li>
				<li>
					<p>ClassProvider</p>
					<p class="f-c-999">配置注入器以返回令牌的useClass实例</p>
					<pre>
接口:
interface ClassProvider extends ClassSansProvider &#123;
	provide: any,
	multi?: boolean
}

provide: 
一个注射令牌(通常是Type或InjectionToken的实例)

nulti:
如果为true，那么注入器将返回一个实例数组
允许跨多个文件传播的多个提供程序将配置信息提供给一个通用token很有用
const local = new InjectionToken < string[] > ('locale');

const injector = Injector.create([
	&#123;provide: locale, multi: true, useValue: 'en'},
	&#123;provide: locale, multi: true, useValue: 'sk'},
])

const locales: string[] = injector.get(locale);

expect(locales).toEqual(['en', 'sk']);

使用:
@Injectable()
class MyService &#123;}

const provider: ClassProvider = &#123;provide: 'someToken', useClass: MyService}

实栗:
abstract class Shape &#123; name: string; }

class Square extends Shape &#123;
	name = 'square';
}

const injector = ReflectiveInjector.resolveAndCreate([&#123;provide: Shape, useClass: Square}]);

const shape: Shape = injector.get(Shape);

差异性的ClassProvider
class Greeting &#123;
	salutation = 'hello';
}

class FormalGreeting extends Greeting &#123;
	salutation = 'Greeting';
}

const injector = ReflectiveInjector.resolveAndCreate(
	[
		FormalGreeting,
		&#123;provide: Greeting, useClass: FormalGreeting}
	]
)

注入器返回不同的实例
expect(injector.get(FormalGreeting)).not.toBe(injector.get(Greeting));
					</pre>
				</li>
				<li>
					<p>ExistingProvider</p>
					<p class="f-c-999">配置injector以返回另一个useExisting标记的值</p>
					<pre>
接口:
interface ExistingProvider extends ExistingSansProvider &#123;
	provide: any,
	multi?: boolean
}

provide: 
一个注射令牌(通常是Type或InjectionToken的实例)

nulti:
如果为true，那么注入器将返回一个实例数组
允许跨多个文件传播的多个提供程序将配置信息提供给一个通用token很有用
const local = new InjectionToken < string[] > ('locale');

const injector = Injector.create([
	&#123;provide: locale, multi: true, useValue: 'en'},
	&#123;provide: locale, multi: true, useValue: 'sk'},
])

const locales: string[] = injector.get(locale);

expect(locales).toEqual(['en', 'sk']);

使用:
const provider: ExistingProvider = &#123;
	provide: 'someToken', useExisting: 'someOtherToken'
}

实栗:
class Greeting &#123;
	salutation = 'hello'
}

class FormalGreeting extends Greeting &#123;
	salutation = "Greetings";
}

const injector = Injector.create([
	&#123;provide: FormalGreeting, deps: []},
	&#123;provide: Greeting, useExisting: }
])

expect(injector.get(Greeting).salutation).toEqual('Greetings');
expect(injector.get(FormalGreeting).salutation).toEqual('Greetings');
expect(injector.get(FormalGreeting)).toBe(injector.get(Greeting));
					</pre>
				</li>
				<li>
					<p>FactoryProvider</p>
					<p class="f-c-999">通过调用useFactory函数来配置注入器以返回值</p>
					<pre>
接口:
interface FactoryProvider extends FactorySansProvider &#123;
	provide: any,
	multi?: boolean
}

provide: 
一个注射令牌(通常是Type或InjectionToken的实例)

nulti:
如果为true，那么注入器将返回一个实例数组
允许跨多个文件传播的多个提供程序将配置信息提供给一个通用token很有用

const locale = new InjectionToken < string[] > ('locale');
const injector = Injector.create([
  	&#123;provide: locale, multi: true, useValue: 'en'},
  	&#123;provide: locale, multi: true, useValue: 'sk'},
]);

const locales: string[] = injector.get(locale);
expect(locales).toEqual(['en', 'sk']);

使用:
function serviceFactory() &#123;}

const provider: FactoryProvider = &#123;provide: 'someToken', useFactory: serviceFactory, deps: []};

实栗:
const Location = new InjectionToken('location');
const Hash = new InjectionToken('hash');

const injector = Injector.create([
	&#123;
		provide: Location, 
		useValue: 'http://angular.io/#someLocation'
	},
	&#123;
		provide: Hash,
		useFactory: (location: string) => location.split('#')[1],
		deps: [Location]
	}
]);

expect(injector.get(Hash)).toEqual('someLocation');

加入依赖关系
const Location = new InjectionToken('location');
const Hash = new InjectionToken('hash');

const injector = Injector.create([&#123;
  provide: Hash,
  useFactory: (location: string) => `Hash for: $&#123;location}`,
  // use a nested array to define metadata for dependencies.
  deps: [[new Optional(), Location]]
}]);

expect(injector.get(Hash)).toEqual('Hash for: null');
					</pre>
				</li>
			</ul>
		</li>
	</ul>
</nz-card>

<nz-card nzTitle="Attribute" class="m-t-20">

</nz-card>