<div class="design-answer-box">
    <h3>html5 新特性</h3>
    <div> HTML5 现在已经不是 SGML 的子集，主要是关于图像，位置，存储，多任务等功能的增加。 </div>
    <div> 1. 拖拽释放(Drag and drop) API&nbsp; </div>
    <div> 2. 语义化更好的内容标签（header,nav,footer,aside,article,section） </div>
    <div> 3. 音频、视频API(audio,video) </div>
    <div> 4. 画布(Canvas) API </div>
    <div> 5. 地理(Geolocation) API </div>
    <div> 6. 本地离线存储 localStorage 长期存储数据，浏览器关闭后数据不丢失； </div>
    <div> 7. sessionStorage 的数据在浏览器关闭后自动删除 </div>
    <div> 8. 表单控件，calendar、date、time、email、url、search &nbsp; </div>
    <div> 9. 新的技术webworker, websocket, Geolocation </div>
    <div>
        <br>
    </div>
    <div> 移除的元素： </div>
    <div> 1. 纯表现的元素：basefont，big，center，font, s，strike，tt，u； </div>
    <div> 2. 对可用性产生负面影响的元素：frame，frameset，noframes； </div>
    <div>
        <br>
    </div>
    <div> 支持HTML5新标签： </div>
    <div> 1. IE8/IE7/IE6支持通过 document.createElement
        方法产生的标签，可以利用这一特性让这些浏览器支持 HTML5
        新标签，浏览器支持新标签后，还需要添加标签默认的样式（当然最好的方式是直接使用成熟的框架、使用最多的是html5shiv框架）： </div>
    <pre [innerHtml]="code.h5New"></pre>
    <div> 如何区分：&nbsp; </div>
    <div> DOCTYPE声明新增的结构元素、功能元素 </div>
</div>