<div class="design-answer-box">
    <h3>cookie</h3>
    <div class="answer-brief nc-post-content">
        <div>
            <span>优点：</span>
            <span>极高的扩展性和可用性</span>
        </div>
        <p>
            <span>1)<span></span>
            </span>
            <span>
                <strong>数据持久性</strong>。</span>
        </p>
        <p>
            <span>2)<span></span>
            </span>
            <span>
                <strong>不需要任何服务器资源</strong>。</span>
            <span>Cookie</span>
            <span>存储在客户端并在发送后由服务器读取。</span>
        </p>
        <p>
            <span>3)<span></span>
            </span>
            <span>
                <strong>可配置到期规则</strong>。</span>
            <span>控制</span>
            <span>cookie</span>
            <span>的生命期，使之不会永远有效。偷盗者很可能拿到一个过期的</span>
            <span>cookie</span>
            <span>。</span>
        </p>
        <p>
            <span>4)<span></span>
            </span>
            <span>
                <strong>简单性</strong>。</span>
            <span>基于文本的轻量结构。</span>
        </p>
        <p>
            <span>5)<span></span>
            </span>
            <span>通过良好的编程，控制保存在</span>
            <span>cookie</span>
            <span>中的</span>
            <span>session</span>
            <span>对象的大小。</span>
        </p>
        <p>
            <span>6)<span></span>
            </span>
            <span>通过加密和安全传输技术（</span>
            <span>SSL</span>
            <span>），减少</span>
            <span>cookie</span>
            <span>被破解的可能性。</span>
        </p>
        <p>
            <span>7)<span></span>
            </span>
            <span>只在</span>
            <span>cookie</span>
            <span>中存放不敏感数据，即使被盗也不会有重大损失。</span>
        </p>
        <p style="margin-left: 18.0pt;">
            <span></span>
        </p>
        <div>
            <span>
                <br>
            </span>
        </div>
        <div>
            <span>缺点：</span>
        </div>
        <p>
            <span>1)<span></span>
            </span>
            <span>
                <strong>Cookie</strong>
            </span>
            <span>
                <strong>数量和长度的限制</strong>
            </span>
            <span>。</span>
        </p>
        <p>
            <span> 数量：每个域的</span>
            <span>cookie</span>
            <span>总数有限。</span>
        </p>
        <p style="margin-left: 72.0pt;text-indent: -18.0pt;">
            <span>a)<span></span>
            </span>
            <span>IE6</span>
            <span>或更低版本最多</span>
            <span>20</span>
            <span>个</span>
            <span>cookie</span>
        </p>
        <p style="margin-left: 72.0pt;text-indent: -18.0pt;">
            <span>b)<span></span>
            </span>
            <span>IE7</span>
            <span>和之后的版本最后可以有</span>
            <span>50</span>
            <span>个</span>
            <span>cookie</span>
        </p>
        <p style="margin-left: 72.0pt;text-indent: -18.0pt;">
            <span>c)<span></span>
            </span>
            <span>Firefox</span>
            <span>最多</span>
            <span>50</span>
            <span>个</span>
            <span>cookie</span>
        </p>
        <p style="margin-left: 72.0pt;text-indent: -18.0pt;">
            <span>d)<span></span>
            </span>
            <span>chrome</span>
            <span>和</span>
            <span>Safari</span>
            <span>没有做硬性限制</span>
        </p>
        <p>
            <span> 长度：每个</span>
            <span>cookie</span>
            <span>长度不超过</span>
            <span>4KB</span>
            <span>（</span>
            <span>4096B</span>
            <span>），否则会被截掉。</span>
        </p>
        <p>
            <span>2)<span></span>
            </span>
            <span>
                <strong>潜在的安全风险</strong>
            </span>
            <span>。</span>
            <span>Cookie</span>
            <span>可能被拦截、篡改。如果</span>
            <span>cookie</span>
            <span>被拦截，就有可能取得所有的</span>
            <span>session</span>
            <span>信息。</span>
        </p>
        <p>
            <span>3)<span></span>
            </span>
            <span>
                <strong>用户配置为禁用</strong>
            </span>
            <span>。有些用户禁用了浏览器或客户端设备接受</span>
            <span>cookie</span>
            <span>的能力，因此限制了这一功能。</span>
        </p>
        <p>
            <span>4)<span></span>
            </span>
            <span>
                <strong>有些状态不可能保存在客户端</strong>
            </span>
            <span>。例如，为了防止重复提交表单，我们需要在服务器端保存一个计数器。如果我们把这个计数器保存在客户端，那么它起不到任何作用。</span>
        </p>
    </div>
</div>