<div class="design-answer-box">
    <h3>HTML与XHTML</h3>
    <div class="answer-brief nc-post-content">
        <div> 1、<span>XHTML 元素必须被正确地嵌套。</span>
        </div>
        <div>
            <span style="color: rgb(69,69,69);">错误：&lt;p&gt;&lt;span&gt;this is example.&lt;/p&gt;&lt;/span&gt;</span>
            <br>
            <span style="color: rgb(69,69,69);">正确：&lt;p&gt;&lt;span&gt;this is example.&lt;/span&gt;&lt;/p&gt;</span>
        </div>
        <div>
            <span style="color: rgb(69,69,69);">而html不需要被正确嵌套也不会报错。</span>
        </div>
        <div>
            <span style="color: rgb(69,69,69);">2、</span>
            <span>XHTML 元素必须被关闭。即使是空标签&lt;/br&gt;</span>
        </div>
        <div>
            <span>html可以写成&lt;br&gt;</span>
        </div>
        <div>
            <span>3、</span>
            <span>XHTML</span>
            <span>标签名必须用小写字母。html可以大写。</span>
        </div>
        <div>
            <span>4、</span>
            <span>XHTML 文档必须拥有根元素。</span>
        </div>
        <div>
            <span>5、</span>
            <span style="color: rgb(69,69,69);">所有的 XHTML 元素必须被嵌套于 &lt;html&gt; 根元素中。</span>
        </div>
        <div>
            <span style="color: rgb(69,69,69);">而html不是必须的。</span>
        </div>
        <div>
            <span style="color: rgb(102,102,102);">
                <br>
            </span>
        </div>
    </div>
</div>