<div class="design-answer-box">
    <h3>浏览器输入url到页面呈现</h3>
    <ul>
        <li>
            <h4>进行地址解析</h4>
            <p>解析出字符串地址中的主机，域名，端口号，参数等</p>
        </li>
        <li>
            <h4>根据解析出的域名进行DNS解析</h4>
            <ul>
                <li>首先在浏览器中查找DNS缓存中是否有对应的IP地址，如果有就直接使用，没有机执行第二步</li>
                <li>在操作系统中查找DNS缓存是否有对应的IP地址，如果有就直接使用，没有就执行第三步</li>
                <li>向本地DNS服务商发送请求查找时候有DNS对应的ip地址。如果仍然没有最后向Root Server服务商查询</li>
            </ul>
        </li>
        <li>
            <h4>根据查询到的IP地址寻找目标服务器</h4>
            <ul>
                <li>与服务器建立连接</li>
                <li>进入服务器，寻找对应的请求</li>
            </ul>
        </li>
        <li>
            <h4>浏览器接收到响应码开始处理</h4>
        </li>
        <li>
            <h4>浏览器开始渲染DOM，下载CSS、图片等一些资源。直到这次请求完成</h4>
        </li>
    </ul>
</div>