<div class="design-answer-box">
    <h3>CSS 选择符</h3>
    <div class="answer-brief nc-post-content">
        <div> CSS 选择符： </div>
        <div> 1.id选择器(# myid) </div>
        <div> 2.类选择器(.myclassname) </div>
        <div> 3.标签选择器(div, h1, p) </div>
        <div> 4.相邻选择器(h1 + p) </div>
        <div> 5.子选择器(ul &gt; li) </div>
        <div> 6.后代选择器(li a) </div>
        <div> 7.通配符选择器( * ) </div>
        <div> 8.属性选择器(a[rel = "external"]) </div>
        <div> 9.伪类选择器(a: hover, li:nth-child) </div>
        <div>
            <br>
        </div>
        <div> 可继承的样式： </div>
        <div> 1.font-size </div>
        <div> 2.font-family </div>
        <div> 3.color </div>
        <div> 4.text-indent </div>
        <div>
            <br>
        </div>
        <div> 不可继承的样式： </div>
        <div> 1.border </div>
        <div> 2.padding </div>
        <div> 3.margin </div>
        <div> 4.width </div>
        <div> 5.height </div>
        <div>
            <br>
        </div>
        <div> 优先级算法： </div>
        <div> 1.优先级就近原则，同权重情况下样式定义最近者为准; </div>
        <div> 2.载入样式以最后载入的定位为准; </div>
        <div> 3.!important &gt; &nbsp;id &gt; class &gt; tag &nbsp; </div>
        <div> 4.important 比 内联优先级高，但内联比 id 要高 </div>
        <div>
            <br>
        </div>
        <div> CSS3新增伪类举例： </div>
        <div> p:first-of-type 选择属于其父元素的首个 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
        <div> p:last-of-type &nbsp;选择属于其父元素的最后 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
        <div> p:only-of-type &nbsp;选择属于其父元素唯一的 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
        <div> p:only-child &nbsp; &nbsp;选择属于其父元素的唯一子元素的每个 &lt;p&gt; 元素。 </div>
        <div> p:nth-child(2) &nbsp;选择属于其父元素的第二个子元素的每个 &lt;p&gt; 元素。 </div>
        <div> :enabled :disabled 控制表单控件的禁用状态。 </div>
        <div> :checked &nbsp; &nbsp; &nbsp; &nbsp;单选框或复选框被选中。 </div>
    </div>
</div>