<div class="design-answer-box">
    <h3>对网站的文件和资源进行优化</h3>
    <ul>
        <li>1.尽可能减少http请求次数，将css, js, 图片各自合并</li>
        <li>2.使用CDN，降低通信距离</li>
        <li>3.添加Expire/Cache-Control头 </li>
        <li>4.启用Gzip压缩文件</li>
        <li>5.将css放在页面最上面</li>
        <li>6.将script放在页面最下面</li>
        <li>7.避免在css中使用表达式</li>
        <li>8.将css, js都放在外部文件中</li>
        <li>9.减少DNS查询</li>
        <li>10.最小化css, js，减小文件体积</li>
        <li>11.避免重定向</li>
        <li>12.移除重复脚本</li>
        <li>13.配置实体标签ETag</li>
        <li>14.使用AJAX缓存，让网站内容分批加载，局部更新</li>
        <li>15.使用 CDN 托管</li>
        <li>16.缓存的使用（多个域名来提供缓存）</li>
    </ul>
</div>