<h3 class="text-center mar-t-10 mar-b-10">puppeteer works!</h3>
<nz-card nzTitle="设置地址以及等待时间" class="mar-b-10">
    <nz-input-group nzAddOnBefore="网址" nzAddOnAfter="" class="mar-b-10">
        <input nz-input placeholder="输入截图网址" [(ngModel)]="httpValue" />
    </nz-input-group>
    <nz-input-group nzAddOnBefore="页面等待时间（默认1000）" nzAddOnAfter="" class="mar-b-10">
        <input nz-input placeholder="页面等待时间（默认1000）" [(ngModel)]="waitFor" />
    </nz-input-group>
</nz-card>
<nz-card nzTitle="获取图片或者pdf" class="mar-b-10">
    <nz-radio-group [(ngModel)]="radioValue" class="mar-b-10">
        <label nz-radio nzValue="pdf">pdf</label>
        <label nz-radio nzValue="pic">pic</label>
    </nz-radio-group>
    <div *ngIf="radioValue === 'pdf'">
        <nz-input-group nzAddOnBefore="pdf文件保存的路径" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="pdf文件保存的路径" [(ngModel)]="pdfObj.path" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="页面渲染的缩放" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="页面渲染的缩放" [(ngModel)]="pdfObj.scale" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="页面宽度" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="页面宽度" [(ngModel)]="pdfObj.width" />
        </nz-input-group>
    </div>
    <div *ngIf="radioValue === 'pic'">
        <nz-input-group nzAddOnBefore="截图保存路径。截图图片类型将从文件扩展名推断出来" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="截图保存路径。截图图片类型将从文件扩展名推断出来" [(ngModel)]="picObj.path" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="指定截图类型, 可以是 jpeg 或者 png。默认 'png'." nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="指定截图类型, 可以是 jpeg 或者 png。默认 'png'." [(ngModel)]="picObj.type" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="图片质量, 可选值 0-100. png 类型不适用" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="图片质量, 可选值 0-100. png 类型不适用" [(ngModel)]="picObj.quality" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="如果设置为true，则对完整的页面（需要滚动的部分也包含在内）。默认是false" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="如果设置为true，则对完整的页面（需要滚动的部分也包含在内）。默认是false" [(ngModel)]="picObj.fullPage" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="隐藏默认的白色背景，背景透明" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="隐藏默认的白色背景，背景透明" [(ngModel)]="picObj.omitBackground" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="图像的编码可以是 base64 或 binary" nzAddOnAfter="" class="mar-b-10 mar-r-10">
            <input nz-input placeholder="图像的编码可以是 base64 或 binary" [(ngModel)]="picObj.encoding" />
        </nz-input-group>
    </div>
    <div>
        <button nz-button nzType="primary" *ngIf="radioValue === 'pic'" class="mar-r-10" (click)="screenshot()">截取图片</button>
        <button nz-button nzType="primary" *ngIf="radioValue === 'pdf'" (click)="interceptPdf()">截取pdf</button>
    </div>
    <div>
        <img style="width: 100%;" [src]="interceptPicData" *ngIf="interceptPicData" alt="interceptPicData" />
    </div>
    <app-pdf-container [option]="interceptPdfData" *ngIf="interceptPdfData"></app-pdf-container>
</nz-card>
<nz-card nzTitle="获取数据" class="mar-b-10">
    <div *ngFor="let getData of getDataArr; index as idx;" class="mar-b-10">
        <nz-input-group nzAddOnBefore="name" nzAddOnAfter="" class="mar-b-10">
            <input nz-input placeholder="data name" [(ngModel)]="getData.name" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="selector" nzAddOnAfter="" class="mar-b-10">
            <input nz-input placeholder="dom selector" [(ngModel)]="getData.selector" />
        </nz-input-group>
        <nz-input-group nzAddOnBefore="attr" nzAddOnAfter="" class="mar-b-10">
            <input nz-input placeholder="attr Name" [(ngModel)]="getData.attr" />
        </nz-input-group>
        <button nz-button nzType="primary" *ngIf="idx >= 1" (click)="deleteGetDataArr(idx)">删除</button>
    </div>
    <div>
        <button nz-button nzType="primary" class="mar-r-10" (click)="addGetDataArr()">增加参数</button>
        <button nz-button nzType="primary" class="mar-r-10" (click)="getDataClick()">获取数据</button>
    </div>
    <div *ngIf="getDataClickData">{{getDataClickData | json}}</div>
</nz-card>
<nz-card nzTitle="mm131" class="mar-b-10" *ngIf="false">
    <p>网站爬取被发现</p>
    <div class="mar-b-10">
        <button nz-button nzType="primary" class="mar-r-10" (click)="getMm131BasicClass()">mm131获取基础分类</button>
    </div>
    <div class="mar-b-10">
        <nz-select class="min-width-120 mar-r-10" [(ngModel)]="choiceData" (ngModelChange)="areaChange()">
            <nz-option *ngFor="let p of getMm131BasicClassData" [nzValue]="p" [nzLabel]="p.name"></nz-option>
        </nz-select>
        <button nz-button nzType="primary" class="mar-r-10" (click)="getMm131GetDetails()">mm131获取详情</button>
    </div>
    <div *ngIf="getMm131GetDetailsData && getMm131GetDetailsData.length">
        <div *ngFor="let item of getMm131GetDetailsData">
            <div class="pull-left" (click)="item.noShow = !item.noShow">
                <img [src]="item.img" alt="item.name">
                <p>{{item.name}}</p>
            </div>
            <div *ngIf="item.details && item.details.length">
                <div *ngFor="let pic of item.details">
                    <img [src]="pic" alt="item.name">    
                </div>
            </div>
        </div>
    </div>
</nz-card>
<nz-card nzTitle="girl13" class="mar-b-10">
    <div class="mar-b-10">
        <button nz-button nzType="primary" class="mar-r-10" (click)="setGirl13GetDetails()">写入数据</button>
        <button nz-button nzType="primary" class="mar-r-10" (click)="getGirl13GetDetails()">获取数据</button>
    </div>
    <div class="masonry">
        <div *ngFor="let item of getGirl13GetDetailsData" class="item">
            <img [src]="item" alt="item">
        </div>
    </div>
</nz-card>
<nz-card nzTitle="Mzitu" class="mar-b-10">
    <div class="mar-b-10">
        <button nz-button nzType="primary" class="mar-r-10" (click)="setMzituUrlGetDetails()">写入数据</button>
        <button nz-button nzType="primary" class="mar-r-10" (click)="getGirl13GetDetails()">获取数据</button>
    </div>
    <div class="masonry">
        <div *ngFor="let item of getGirl13GetDetailsData" class="item">
            <img [src]="item" alt="item">
        </div>
    </div>
</nz-card>