@import '../../app.layout.scss';

.min-width-120 {
    min-width: 120px;
}
.pic-box {
    float: left;
    width: 20%;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.masonry {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari 和 Chrome */
    column-count:4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    width: 100%;
    margin:1em auto;
    .item { 
        padding: 1em;
        margin-bottom: 1em;
        -moz-page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        background: #f60;
        img {
            width: 100%;
        }
    }
}