<div class="design-answer-box">
    <h3>css 总结</h3>
    <ul>
        <li>
            <h4>display:none和visibility:hidden的区别</h4>
            <div class="answer-brief nc-post-content">
                <div>
                    1，display：none会让元素从渲染树中消失，渲染的时候不占据任何空间；visibility：hidden不会让元素从渲染树中消失，渲染的时候仍然占据空间，只是内容不可见。<br>
                    2，display：none是非继承属性，子孙节点消失是由于元素从渲染树中消失造成，通过修改子孙节点的属性无法显示；visibility：hidden是继承属性，子孙节点消失是由于继承了hidden，通过设置visibility：visible，可以让子孙节点显示。<br>
                    3，读屏器不会读取display：none的元素内容，而会读取visibility：hidden的元素内容。<br>
                </div>
            </div>
        </li>
        <li>
            <h4>CSS中 link 和@import 的区别</h4>
            <div class="answer-brief nc-post-content">
                <p style="margin-left: 21.0pt;text-indent: -21.0pt;">
                    <span>1.导入的语法不相同</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>link</span>
                    <span>（链接式）语法为：</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>&lt;link rel="stylesheet" href="style.css" type="text/css"/&gt;</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>@import</span>
                    <span>（导入式）语法为：</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>&lt;style type="text/css"&gt;</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>@import url("style.css");</span>
                </p>
                <p style="margin-left: 21.0pt;">
                    <span>&lt;/style&gt;</span>
                </p>
                <p style="margin-left: 21.0pt;text-indent: -21.0pt;">
                    <span>
                        <span>2.&nbsp;</span>
                    </span>
                    <span>link</span>
                    <span>和</span>
                    <span>import</span>
                    <span>语法结构不同，前者</span>
                    <span>&lt;link&gt;</span>
                    <span>是</span>
                    <span>html</span>
                    <span>标签，只能放入</span>
                    <span>html</span>
                    <span>源代码中使用，</span>
                    <span>link</span>
                    <span>标签除了可以加载</span>
                    <span>CSS</span>
                    <span>外，还可以做很多其它的事情，比如定义</span>
                    <span>RSS</span>
                    <span>，定义</span>
                    <span>rel</span>
                    <span>连接属性等，</span>
                    <span>@import</span>
                    <span>看作为</span>
                    <span>css</span>
                    <span>的样式，就只能加载</span>
                    <span>CSS</span>
                    <span>了；</span>
                </p>
                <p style="margin-left: 21.0pt;text-indent: -21.0pt;">
                    <span>3.使用</span>
                    <span>link</span>
                    <span>方式，浏览器将</span>
                    <span>CSS</span>
                    <span>文件和</span>
                    <span>HTML</span>
                    <span>的主体部分一同装载，所以显示出来的页面从开始就是带样式效果的；而采用</span>
                    <span>@import</span>
                    <span>方式，浏览器则会先装载完整个</span>
                    <span>HTML</span>
                    <span>文件后再装载</span>
                    <span>CSS</span>
                    <span>文件；</span>
                </p>
                <p style="margin-left: 21.0pt;text-indent: -21.0pt;">
                    <span>4.当使用</span>
                    <span>Javascript</span>
                    <span>控制</span>
                    <span>DOM</span>
                    <span>去改变样式的时候，只能使用</span>
                    <span>link</span>
                    <span>方式，因为</span>
                    <span>@import</span>
                    <span>眼里只有</span>
                    <span>CSS</span>
                    <span>，不是</span>
                    <span>DOM</span>
                    <span>可以控制的；</span>
                </p>
                <p style="margin-left: 21.0pt;text-indent: -21.0pt;">
                    <span>5link</span>
                    <span>是</span>
                    <span>XHTML</span>
                    <span>标签，无兼容问题；</span>
                    <span>@import</span>
                    <span>是在</span>
                    <span>CSS2.1</span>
                    <span>提出的，低版本的浏览器不支持</span>
                </p>
            </div>
        </li>
        <li>
            <h4>position的absolute与fixed共同点与不同点</h4>
            <div class="answer-brief nc-post-content">
                <p align="justify" style="text-align: justify;"> <span>static
                        &nbsp;relative定位不脱离文档流，relative相对定位在某父元素下指定left right top等是嵌入到页面中</span> </p>
                <p align="justify" style="text-align: justify;"> <span>Absolute绝对定位，脱离文档流，，没有父元素，上下左右设置是针对于浏览器窗口，不占据位置，会随着窗口大小与页面一起改变</span>
                </p>
                <p align="justify" style="text-align: justify;"> <span>Fixed固定定位，只针对浏览器窗口定位，上下左右，不会随着窗口大小改变，固定不变，例如固定位置的小广告。</span>
                </p>
                <p align="justify" style="margin-left: 15.75pt;text-align: justify;"> <span>&nbsp;</span> </p>
            </div>
        </li>
        <li>
            <h4>CSS的盒子模型</h4>
            <div class="answer-brief nc-post-content">
                <div> 盒模型的组成包括:content, padding, border, margin组成。 </div>
                <div> 有两种盒模型:标准盒模型和IE盒模型。两种盒模型的主要区别是:标准盒模型的宽高是值内容宽高(content),而IE盒模型的宽高是指content+padding+border。 </div>
                <div> 设置盒模型的方式是：设置box-sizing </div>
                <div> &nbsp; &nbsp; box-sizing:content-box&nbsp; 标准盒模型 </div>
                <div> &nbsp; &nbsp; box-sizing:border-box IE盒模型 </div>
            </div>
        </li>
        <li>
            <h4>CSS 选择符</h4>
            <div class="answer-brief nc-post-content">
                <div> CSS 选择符： </div>
                <div> 1.id选择器(# myid) </div>
                <div> 2.类选择器(.myclassname) </div>
                <div> 3.标签选择器(div, h1, p) </div>
                <div> 4.相邻选择器(h1 + p) </div>
                <div> 5.子选择器(ul &gt; li) </div>
                <div> 6.后代选择器(li a) </div>
                <div> 7.通配符选择器( * ) </div>
                <div> 8.属性选择器(a[rel = "external"]) </div>
                <div> 9.伪类选择器(a: hover, li:nth-child) </div>
                <div>
                    <br>
                </div>
                <div> 可继承的样式： </div>
                <div> 1.font-size </div>
                <div> 2.font-family </div>
                <div> 3.color </div>
                <div> 4.text-indent </div>
                <div>
                    <br>
                </div>
                <div> 不可继承的样式： </div>
                <div> 1.border </div>
                <div> 2.padding </div>
                <div> 3.margin </div>
                <div> 4.width </div>
                <div> 5.height </div>
                <div>
                    <br>
                </div>
                <div> 优先级算法： </div>
                <div> 1.优先级就近原则，同权重情况下样式定义最近者为准; </div>
                <div> 2.载入样式以最后载入的定位为准; </div>
                <div> 3.!important &gt; &nbsp;id &gt; class &gt; tag &nbsp; </div>
                <div> 4.important 比 内联优先级高，但内联比 id 要高 </div>
                <div>
                    <br>
                </div>
                <div> CSS3新增伪类举例： </div>
                <div> p:first-of-type 选择属于其父元素的首个 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
                <div> p:last-of-type &nbsp;选择属于其父元素的最后 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
                <div> p:only-of-type &nbsp;选择属于其父元素唯一的 &lt;p&gt; 元素的每个 &lt;p&gt; 元素。 </div>
                <div> p:only-child &nbsp; &nbsp;选择属于其父元素的唯一子元素的每个 &lt;p&gt; 元素。 </div>
                <div> p:nth-child(2) &nbsp;选择属于其父元素的第二个子元素的每个 &lt;p&gt; 元素。 </div>
                <div> :enabled :disabled 控制表单控件的禁用状态。 </div>
                <div> :checked &nbsp; &nbsp; &nbsp; &nbsp;单选框或复选框被选中。 </div>
            </div>
        </li>
        <li>
            <h4>display && position</h4>
            <div> display 的值的作用： </div>
            <div> 1.block 象块类型元素一样显示。 </div>
            <div> 2.inline 缺省值。象行内元素类型一样显示。 </div>
            <div> 3.inline-block 象行内元素一样显示，但其内容象块类型元素一样显示。 </div>
            <div> 4.list-item 象块类型元素一样显示，并添加样式列表标记。 </div>
            <div> <br> </div>
            <div> position 的值的定位区别： </div>
            <div> 1.absolute 生成绝对定位的元素，相对于 static 定位以外的第一个祖先元素进行定位。 </div>
            <div> 2.fixed <span style="color: rgb(51,51,51);">生成固定定位的元素</span>，相对于浏览器窗口进行定位（老IE不支持）。 </div>
            <div> 3.relative 生成相对定位的元素，相对于其在普通流中的位置进行定位。 </div>
            <div> 4.static 默认值。没有定位，元素出现在正常的流中（忽略 top, bottom, left, right z-index 声明）。 </div>
            <div> 5.inherit 规定从父元素继承 position 属性的值。 </div>
        </li>
        <li>
            <h4>CSS3 新特性</h4>
            <div> 1. CSS3实现圆角（border-radius），阴影（box-shadow）， </div>
            <div> 2. 对文字加特效（text-shadow、），线性渐变（gradient），旋转（transform） </div>
            <div> 3. transform:rotate(9deg) scale(0.85,0.90) translate(0px,-30px)
                skew(-9deg,0deg);// 旋转,缩放,定位,倾斜 </div>
            <div> 4. 增加了更多的CSS选择器 &nbsp;多背景 rgba </div>
            <div> 5. 在CSS3中唯一引入的<span style="color: rgb(51,51,51);">伪类</span>是
                ::selection. </div>
            <div> 6. 媒体查询，多栏布局 </div>
            <div> 7. border-image </div>
        </li>
        <li>
            <h4>为什么初始化CSS样式</h4>
            <div> 因为浏览器的兼容问题，不同浏览器对有些标签的默认值是不同的，如果没对CSS初始化往往会出现浏览器之间的页面显示差异。 </div>
            <div>
                <br>
            </div>
            <div> 当然，初始化样式会对SEO有一定的影响，但鱼和熊掌不可兼得，但力求影响最小的情况下初始化。 </div>
            <div>
                <br>
            </div>
            <div> *最简单的初始化方法就是（不建议）： </div>
            <div [innerHtml]="code.baseCode"></div>
            <div>
                <br>
            </div>
            <div> 淘宝的样式初始化：&nbsp; </div>
            <pre [innerHtml]="code.taobaoCode"></pre>
        </li>
        <li>
            <h4>BFC的概念</h4>
            <p>块格式化上下文（Block Formatting Context，BFC）是Web页面的可视化CSS渲染的一部分，是布局过程中生成块级盒子的区域，也是浮动元素与其他元素的交互限定区域</p>
            <ul>
                <li>BFC是一个独立的布局环境,可以理解为一个容器,在这个容器中按照一定规则进行物品摆放,并且不会影响其它环境中的物品。 </li>
                <li>如果一个元素符合触发BFC的条件，则BFC中的元素布局不受外部影响。 </li>
                <li>浮动元素会创建BFC，则浮动元素内部子元素主要受该浮动元素影响，所以两个浮动元素之间是互不影响的。 </li>
                <li>在同一个 BFC 中的两个毗邻的块级盒在垂直方向（和布局方向有关系）的 margin 会发生折叠。</li>
            </ul>
        </li>
        <li>
            <h4>CSS sprites 雪碧图</h4>

            CSS Sprites 其实就是把网页中一些背景图片整合到一张图片文件中，再利用 CSS
            的"background-image"，"background-repeat"，"background-position"
            的组合进行背景定位，background-position
            可以用数字能精确的定位出背景图片的位置。这样可以减少很多图片请求的开销，因为请求耗时比较长；请求虽然可以并发，但是也有限制，一般浏览器都是6个。对于未来而言，就不需要这样做了，因为有了 http2。

            <p style="vertical-align: baseline;color: rgb(51,51,51);"> HTTP/1.x
                有个问题叫线端阻塞(head-of-line
                blocking),&nbsp;<strong>它是指一个连接(connection)一次只提交一个请求的效率比较高,
                    多了就会变慢</strong>。 HTTP/1.1 试过用流水线(pipelining)来解决这个问题,
                但是效果并不理想(数据量较大或者速度较慢的响应, 会阻碍排在他后面的请求). 此外, 由于网络媒介(intermediary
                )和服务器不能很好的支持流水线, 导致部署起来困难重重。
            </p>

            <div style="padding: 0.0px;vertical-align: baseline;color: rgb(51,51,51);">
                而多路传输(Multiplexing)能很好的解决这些问题, 因为它能同时处理多个消息的请求和响应; 甚至可以在传输过程中将一个消息跟另外一个掺杂在一起。&nbsp;<strong>所以客户端只需要一个连接就能加载一个页面。</strong>
            </div>
        </li>
        <li>
            <h4>语义化</h4>

            <div class="answer-brief nc-post-content">
                <div> html语义化：指的是在编写网页时，使用正确的标签表达正确的意思，有利于在浏览器中显示清晰的结构。 </div>
                <div> 有利于SEO：与搜索引擎建立良好沟通，有助于爬虫抓取更多有效信息 </div>
                <div> 方便浏览器的解析，以很好的方式进行渲染 </div>
                <div> 便于团队开发和维护，语义化更具可读性。 </div>
            </div>
        </li>
        <li>
            <h4>浮动</h4>
            <div> 浮动元素脱离文档流，不占据空间。浮动元素碰到包含它的边框或者浮动元素的边框停留。 </div>
            <div>
                <br>
            </div>
            <div> 1. 使用空标签清除浮动。 </div>
            <div> 这种方法是在所有浮动标签后面添加一个空标签 定义css clear:both. 弊端就是增加了无意义标签。 </div>
            <div>
                <br>
            </div>
            <div> 2. 使用overflow。 </div>
            <div> 给包含浮动元素的父标签添加css属性 overflow:auto; zoom:1; zoom:1用于兼容IE6。 </div>
            <div>
                <br>
            </div>
            <div> 3. 使用after伪对象清除浮动。 </div>
            <div> 该方法只适用于非IE浏览器。具体写法可参照以下示例。使用中需注意以下几点。一、该方法中必须为需要清除浮动元素的伪对象中设置
                height:0，否则该元素会比实际高出若干像素； </div>
            <div>
                <br>
            </div>
            <div>
                <span style="color: rgb(51,51,51);">可以给父元素设置overflow：auto或者hidden</span>
            </div>
            <div class="design-answer-box">
                <div> 浮动元素引起的问题： </div>
                <div> 1. 父元素的高度无法被撑开，影响与父元素同级的元素 </div>
                <div> 2. 与浮动元素同级的非浮动元素会跟随其后 </div>
                <div> 3. 若非第一个元素浮动，则该元素之前的元素也需要浮动，否则会影响页面显示的结构 </div>
                <div>
                    <br>
                </div>
                <div> 解决方法： </div>
                <div> 使用 CSS 中的 clear:both;
                    属性来清除元素的浮动可解决2、3问题，对于问题1，添加如下样式，给父元素添加clearfix样式：
                </div>
                <pre [innerHtml]="code.floatFix1"></pre>
                <div>
                    <br>
                </div>
                <div> 清除浮动的几种方法： </div>
                <div> 1. 额外标签法，&lt;div
                    style="clear:both;"&gt;&lt;/div&gt;（缺点：不过这个办法会增加额外的标签使HTML结构看起来不够简洁。） </div>
                <div> 2. 使用after<span style="color: rgb(51,51,51);">伪元素</span>
                </div>
                <pre [innerHtml]="code.floatFix2"></pre>
                <div> 3. 浮动外部元素 </div>
                <div> 4. 设置 overflow 为 hidden 或者 auto </div>
            </div>
        </li>
        <li>
            <h4>无样式内容闪烁</h4>
            <div> FOUC - Flash Of Unstyled Content 文档样式闪烁 </div>
            <div> &lt;style type="text/css"
                media="all"&gt;@import
                "../fouc.css";&lt;/style&gt;&nbsp; </div>
            <div>
                而引用CSS文件的@import就是造成这个问题的罪魁祸首。IE会先加载整个HTML文档的DOM，然后再去导入外部的CSS文件，因此，在页面DOM加载完成到CSS导入完成中间会有一段时间页面上的内容是没有样式的，这段时间的长短跟网速，电脑速度都有关系。
            </div>
            <div>
                解决方法简单的出奇，只要在&lt;head&gt;之间加入一个&lt;link&gt;或者&lt;script&gt;元素就可以了。 </div>
        </li>
    </ul>
</div>