<div class="design-answer-box">
    <h3>.call() 和 .apply() </h3>
    <div class="answer-brief nc-post-content">
        <p> apply:方法能劫持另外一个对象的方法，继承另外一个对象的属性. </p>
        <p> Function.apply(obj,args)方法能接收两个参数<br>
            obj：这个对象将代替Function类里this对象<br>
            args：这个是数组，它将作为参数传给Function（args--&gt;arguments） </p>
        <p> call:和apply的意思一样,只不过是参数列表不一样. </p>
        <p> Function.call(obj,[param1[,param2[,…[,paramN]]]])<br>
            obj：这个对象将代替Function类里this对象<br> params：这个是一个参数列表 </p>
    </div>
</div>