<div class="row">
    <!-- 树 -->
    <div class="col-md-4">
        <!-- <kpi-tree (dataChange)="defaultWidget($event)"></kpi-tree> -->
        <div class="container-fluid py-2 border" [ngClass]="{true:'collapsed-box'}[schema?true:false]">
            <div class="box-header with-border">
                <h1 class="d-inline h5">
                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                    {{'CONFIG.KPI.KPI'|translate}}
                </h1>
            </div>
            <div class="box-body">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keywords" (keyup)="searchObservable.next(keywords)" title="dsr:kylin ds:Bill wg:test">
                <div class="panel-body" style="padding: 10px 0px; overflow-x: auto; font-size: small; max-height: 45vh">
                    <tree-root #dataSetTree [nodes]="originalData" [options]="treeOptions" (initialized)="initializedTree()" (moveNode)="moveNode($event)">
                            </tree-root>
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧的编辑或新增 -->
    <div class="col-md-8" *ngIf="optFlag == 'new' || optFlag == 'edit'">
        <div dnd-sortable-container [sortableData]="curKPIWidgets" [dropZones]="['r']" class="py-2 mb-3 border-top border-dark" style="min-height: 50px;">
            <p>当前kpi中的widget</p>
            <button *ngFor="let item of curKPIWidgets let idx = index" class="btn btn-default btn-sm btn-group border" dnd-droppable (onDropSuccess)="dropSuccess()" dnd-sortable [sortableIndex]="idx" style="margin: 3px">
                {{item.name}}
            </button>
        </div>
        <hr />
        <div class="container-fluid" *ngFor="let kpiWidget of renderChart">
            <dashboard-widget [widget]="kpiWidget" [configurable]="'false'" [row]="{}" [widget]="12"></dashboard-widget>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label text-right" style="padding: 0px">{{'SIDEBAR.KPI'|translate}}{{'COMMON.DESXRIPTION'|translate}}:</label>
            <div class="col-sm-10">
                <div *ngIf="editTag">
                    <textarea [(ngModel)]="curKPI.description" class="form-control" cols="30" rows="10"></textarea>
                    <ngb-alert [dismissible]="false" type="danger" *ngIf="!curKPI.description && validate">{{'COMMON.DESXRIPTION'|translate}}{{'COMMON.NOT_EMPTY'|translate}}</ngb-alert>
                </div>
                <div *ngIf="!editTag" [innerText]="curKPI.description"></div>
            </div>
        </div>
        <hr />
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary" (click)="saveKPI()">
                {{'COMMON.SAVE'|translate}}
            </button>
            <button type="button" class="btn btn-info" (click)="editTag = true">
                {{'COMMON.EDIT'|translate}}
            </button>
        </div>
    </div>
</div>