
<div class="container-fluid py-2 border">
    <div class="box-header with-border">
        <h1 class="d-inline h5">
            <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
            {{'CONFIG.KPI.KPI'|translate}}
        </h1>
    </div>
    <div class="box-body">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keywords" (keyup)="searchObservable.next(keywords)" title="dsr:kylin ds:Bill wg:test">
        <div class="panel-body" style="padding: 10px 0px; overflow-x: auto; font-size: small; max-height: 45vh">
            <tree-root #dataSetTree [nodes]="originalData" [options]="treeOptions" (initialized)="initializedTree()" (moveNode)="moveNode($event)"></tree-root>
        </div>
    </div>
</div>