<div class="design-answer-box">
    <h3>this 的典型使用</h3>
    <ul>
        <li>
            <p>在html元素事件属性中使用</p>
            <pre [innerHtml]="code.html"></pre>
        </li>
        <li>
            <p>构造函数</p>
            <pre [innerHtml]="code.buildFun"></pre>
        </li>
        <li>
            <p>input点击，获取值</p>
            <pre [innerHtml]="code.inputGetValue"></pre>
        </li>
        <li>
            <p>apply()/call()求数组最值</p>
            <pre [innerHtml]="code.applyCall"></pre>
        </li>
    </ul>
</div>