<!-- 列维 -->
<div class="form-group row" *ngIf="curWidget&&curWidget.config&&configRule[curWidget.config.chart_type]&&configRule[curWidget.config.chart_type].groups">
    <label class="col-sm-2 control-label text-right">{{'CONFIG.WIDGET.GROUP'|translate}}
        <i class="fa fa-question-circle" title="{{helpMessage.column}}" [ngClass]="{'d-none': helpMessage.column == undefined}"></i>
    </label>
    <div class="col-sm-10">
        <div dnd-droppable (onDropSuccess)="dropNode($event.dragData)"
                class="form-control" style="min-height: 35px;height: auto;padding: 0px"
                [ngClass]="{'highlight': targetHighlight.column}">
            <!-- <div class="dndPlaceholder sort-highlight"
                    style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
            </div> -->
            <div *ngFor="let o of curWidget.config.groups; let idx = index" dnd-sortable-container [sortableData]="curWidget.config.groups"
                    class="btn-group" style="cursor: move;margin: 3px 3px;">
                <button type="button" class="btn btn-default btn-sm" style="cursor: move;"
                        (click)="deleteNode(idx)">
                    <!-- {{o.level?'['+o.level+'].':''}}{{o.alias?o.alias:o.col}} -->
                    {{o.alias}}
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        (click)="editSort(o)">
                    <span class="fa" [ngClass]="{'fa-sort': !o.sort, 'fa-sort-up': o.sort == 'asc', 'fa-sort-down': o.sort == 'desc'}"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        (click)="editFilter(curWidget.config.groups,idx)">
                    <span class="fa fa-filter"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 行维 -->
<div class="form-group row" *ngIf="curWidget&&curWidget.config&&configRule[curWidget.config.chart_type]&&configRule[curWidget.config.chart_type].keys">
    <label class="col-sm-2 control-label text-right">{{'CONFIG.WIDGET.ROW'|translate}}
        <i class="fa fa-question-circle" title="{{helpMessage.row}}" [ngClass]="{'d-none': helpMessage.row == undefined}"></i>
    </label>
    <div class="col-sm-10">
        <div dnd-list="curWidget.config.keys"
                dnd-inserted="dndTransfer.toKeysGroups(curWidget.config.keys,index,item,type)"
                dnd-allowed-types="['dimension','select','group','key','filter']"
                class="form-control" style="min-height: 35px;height: auto;padding: 0px"
                [ngClass]="{'highlight': targetHighlight.row}">
            <!-- <div class="dndPlaceholder sort-highlight"
                    style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
            </div> -->
            <div *ngFor="let o of curWidget.config.keys"
                    dnd-draggable="o"
                    dnd-effect-allowed="move"
                    dnd-moved="curWidget.config.keys.splice($index, 1)"
                    dnd-type="'key'"
                    dnd-dragstart="onDragstart('dimension')" dnd-dragend="onDragCancle()"
                    class="btn-group" style="cursor: move;margin: 3px 3px;">
                <button type="button" class="btn btn-default btn-sm" style="cursor: move;"
                        (click)="curWidget.config.keys.splice($index, 1);">
                    {{o.level?'['+o.level+'].':''}}{{o.alias?o.alias:o.col}}
                </button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                        (click)="editSort(o);cleanVSort();">
                    <span class="fa" [ngClass]="{'fa-sort': !o.sort, 'fa-sort-asc': o.sort == 'asc', 'fa-sort-desc': o.sort == 'desc'}"></span>
                </button>
                <button *ngIf="curWidget.config.chart_type=='table'" type="button" class="btn btn-default btn-sm dropdown-toggle"
                        (click)="editAlign(o)">
                    <span class="fa" [ngClass]="{'fa-align-center': !o.align, 'fa-align-left': o.align == 'left', 'fa-align-right': o.align == 'right'}"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                        (click)="editFilter(curWidget.config.keys,$index)">
                    <span class="fa fa-filter"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 过滤 -->
<div class="form-group row" *ngIf="curWidget&&curWidget.config&&configRule[curWidget.config.chart_type]&&configRule[curWidget.config.chart_type].filters">
    <label class="col-sm-2 control-label text-right">{{'CONFIG.WIDGET.FILTER'|translate}}
        <i class="fa fa-question-circle" title="{{helpMessage.filter}}" [ngClass]="{'d-none': helpMessage.filter == undefined}"></i>
    </label>
    <div class="col-sm-10">
        <div dnd-list="curWidget.config.filters"
                dnd-inserted="dndTransfer.toKeysGroups(curWidget.config.filters,index,item,type);onDragCancle();"
                dnd-allowed-types="['dimension','select','group','key','filter','filterGroup']"
                class="form-control" style="min-height: 35px;height: auto;padding: 0px"
                [ngClass]="{'highlight': targetHighlight.filter}">
            <!-- <div class="dndPlaceholder sort-highlight"
                    style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
            </div> -->
            <div *ngFor="let o of curWidget.config.filters" dnd-draggable="o" dnd-effect-allowed="move"
                    dnd-moved="curWidget.config.filters.splice($index, 1)" dnd-type="o.group?'filterGroup':'filter'"
                    dnd-dragstart="onDragstart(o.group?'filterGroup':'dimension')" dnd-dragend="onDragCancle()"
                    class="btn-group" style="cursor: move;margin: 3px 3px;">
                <div *ngIf="o.group" class="btn-group">
                    <button type="button" class="btn btn-warning btn-sm" style="cursor: move;"
                            (click)="curWidget.config.filters.splice($index, 1)">
                        {{o.group}}
                    </button>
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle" *ngIf="!isDsFilter(o)"
                            (click)="editFilterGroup(o)">
                        <span class="fa fa-edit"></span>
                    </button>
                </div>
                <div *ngIf="!o.group" class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" style="cursor: move;"
                            (click)="curWidget.config.selects.push(o.col);curWidget.config.filters.splice($index, 1);">
                        {{o.alias?o.alias:o.col}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                            (click)="editFilter(curWidget.config.filters,$index)">
                        <span class="fa fa-filter"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>