<div class="container-fluid py-2 border" [ngClass]="{true:'collapsed-box'}[schema?true:false]">
    <div class="box-header with-border">
        <h1 class="d-inline h5">
            <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
            {{'CONFIG.WIDGET.WIDGET'|translate}}
        </h1>
        <div class="float-right">
            <i class="fa fa-info toolbar-icon" (click)="showInfo()" title="{{'COMMON.INFORMATION'|translate}}"></i>&nbsp;
            <i class="fa fa-plus toolbar-icon" (click)="newWgt()" title="{{'COMMON.NEW'|translate}}"></i>&nbsp;
            <i [ngClass]="{false: 'd-none'}[!liteMode?true:false]" class="fa fa-copy toolbar-icon" (click)="copyNode()" title="{{'COMMON.COPY'|translate}}"></i>
            <i [ngClass]="{false: 'd-none'}[!liteMode?true:false]" class="fa fa-edit toolbar-icon" (click)="editNode()" title="{{'COMMON.EDIT'|translate}}"></i>
            <i [ngClass]="{false: 'd-none'}[!liteMode?true:false]" class="fa fa-trash-alt toolbar-icon" (click)="deleteNode()" title="{{'COMMON.DELETE'|translate}}"></i>
            <i class="fa fa-bars toolbar-icon" data-widget="collapse"></i>
        </div>
    </div>
    <div class="box-body">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keywords" (keyup)="searchObservable.next(keywords)" title="dsr:kylin ds:Bill wg:test">
        <div class="panel-body" style="padding: 10px 0px; overflow-x: auto; font-size: small; max-height: 45vh">
            <tree-root #dataSetTree [nodes]="originalData" [options]="treeOptions" (initialized)="initializedTree()" (moveNode)="moveNode($event)">
                    </tree-root>
        </div>
    </div>
</div>